body{
    font-family: 'Bebas Neue', 'Arial' sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1200px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}

.main-content{
    display: flex;
    flex-grow: 1;
}

/* HERO */

.container-wrapper-inner{
    display: flex;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    height: auto;
}

.hero-content{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.hero-heading{
    font-size: 24px;
    font-style: normal;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Bebas Neue', 'Arial', sans-serif;
    color: #fff;
    margin-top: 0;
}

.hero-link{
    display: inline-block;
    padding: 0;
    margin: 0;
    background-color: #1e90ff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: 0;
}

.hero-link-text{
    display: flex;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', 'Arial', sans-serif;
    margin: 0;
    padding: 12px 24px;
}

.hero-link-text::before{
    content: "";
    background-image: url(../images/icons/star.svg);
    background-repeat:no-repeat;
    background-size:contain;
    width: 20px;
    height: 20px;
    color: #fff;
    margin-right: 12px;     
}


/* LATEST VIDEOS */
.latest-videos{
    padding:0;
    margin: 0;
    width: 50%;
    height: auto;
}

.latest-videos-heading{
    padding: 54px 0 24px 54px;
    margin-top: 0;
    color: #222;
    font-family: 'Bebas Neue', 'Arial', sans-serif;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    font-weight: 400;
    border-bottom: 1px solid #999;
}

.latest-videos-list{
    margin: 0;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.latest-videos-item{
    display: flex;
    list-style: none;
}

.latest-videos-item:not(:last-child){
    margin-bottom: 10px;
}

.latest-videos-item-img{
    width: 160px;
    height: 90px;
    object-fit: cover;
    margin-right: 16px;
}

.latest-videos-item-heading{
    margin: 0;
}

.latest-videos-item-link{
    text-transform: uppercase;
    text-decoration: none;
    font-family: ' Bebas Neue', 'Arial', sans-serif;
    font-size: 18px;
    line-height: normal;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    color: #222;
}